@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*-----------*/
/*-----------*/
/*-----------*/
/*Estilo Colores*/
.modal {
  font-family: "Inter";
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.tooltip {
  position: fixed;
  padding: 20px 5px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: normal 14px/1.3 "Inter";
  color: #333;
  background: #fff;
  z-index: 0;
}

/* Modal Content */
.contenidoModal {
  width: 600px;
  margin: auto auto;
}
.contenidoModal .logo {
  background-color: white;
  position: absolute;
  top: 25px;
  margin: 0px 20px;
  border-radius: 15px;
  width: 35px;
  height: 35px;
  display: flex;
  padding: 10px;
  border: 1px solid #F4F4F5;
}
.contenidoModal .logo img {
  width: 100%;
  height: 100%;
}
.contenidoModal .contenidoM {
  background-color: #fefefe;
  margin: auto;
  padding: 40px 30px;
  border-top: 1px solid #888;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
}
.contenidoModal .contenidoM .areaCentrada {
  margin: auto auto;
  background-color: rgba(214, 214, 214, 0.123);
  width: 50%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
}
.contenidoModal .contenidoM .areaCentrada .gridDoble {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.contenidoModal .contenidoM .areaCentrada .gridDoble a.navegacion:not([href]) {
  background-color: rgb(102, 102, 102);
  color: white;
}
.contenidoModal .contenidoM .areaCentrada .gridDoble a.navegacion {
  background-color: transparent;
  border: 0px;
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 15px;
  font-size: small;
  text-align: center;
}
.contenidoModal .contenidoM .areaCentrada .gridDoble a.navegacion[href]:hover {
  background-color: black;
  color: white;
}
.contenidoModal h2 {
  letter-spacing: 2px;
}
.contenidoModal .subtitulo {
  margin-top: 25px;
  padding-top: 10px;
}
.contenidoModal .subtitulo h3 {
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: 600;
}
.contenidoModal ul > li {
  list-style-type: lower-latin;
  padding: 3.5px;
}
.contenidoModal .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contenidoModal .grid .stats {
  border-radius: 8px;
  border: 2px solid #a8a8b1;
  padding: 5px;
  font-family: "Inter";
  background-color: #f3f3f3;
  display: block;
}
.contenidoModal .grid .stats .elementoStats {
  padding: 6px 0px;
}
.contenidoModal .grid .stats .elementoStats span {
  letter-spacing: 0.3px;
  font-weight: 400;
}
.contenidoModal .grid .stats .elementoStats .dato {
  font-weight: 500;
}
.contenidoModal .grid .etiquetasGrid {
  border-radius: 8px;
  border: 2px solid #a8a8b1;
  padding: 10px 10px;
  margin: 5px 0px;
  font-family: "Inter";
  font-size: 15px;
  resize: none;
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 7.5px;
  height: 100px;
  /* Centra horizontalmente */
}
.contenidoModal .grid .etiquetasGrid div.etiqueta {
  border: 1px solid gray;
  display: flex;
  position: relative;
  height: 35px;
  background-color: rgb(255, 255, 200);
}
.contenidoModal .grid .etiquetasGrid div.etiqueta.especial {
  background-color: rgb(211, 255, 200);
}
.contenidoModal .grid .etiquetasGrid div.etiqueta .btn-eliminar {
  position: absolute;
  top: 16%;
  right: 4%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: transparent;
  cursor: pointer;
  font-size: 18px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
  padding: 0;
  border: 1px solid gray;
}
.contenidoModal .grid .etiquetasGrid div.etiqueta:hover .btn-eliminar {
  background: rgba(255, 0, 0, 0.3);
  color: black;
  transform: translateY(-50%) scale(1.1);
}
.contenidoModal .grid .etiquetasGrid .etiqueta {
  background-color: #e0e0e0;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.contenidoModal .grid .etiquetasGrid .etiqueta span {
  margin-right: 5px;
}
.contenidoModal .grid .etiquetasGrid .etiqueta .cerrar {
  background-color: darkred;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
}
.contenidoModal .grid .etiquetasGrid .etiqueta .cerrar:hover {
  background-color: red;
}
.contenidoModal .grid .cobros,
.contenidoModal .grid .programacion {
  border-radius: 8px;
  border: 2px solid #a8a8b1;
  padding: 5px;
  margin: 1px 0px;
  font-family: "Inter";
  font-size: 15px;
  resize: none;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 7.5px;
  max-height: 300px;
  overflow-y: auto;
  /* Centra horizontalmente */
}
.contenidoModal .grid .cobros table,
.contenidoModal .grid .cobros .tablaCobros,
.contenidoModal .grid .programacion table,
.contenidoModal .grid .programacion .tablaCobros {
  width: 100%;
  height: 30px;
  font-size: 11px;
  border-collapse: collapse;
}
.contenidoModal .grid .cobros table tr:hover,
.contenidoModal .grid .cobros .tablaCobros tr:hover,
.contenidoModal .grid .programacion table tr:hover,
.contenidoModal .grid .programacion .tablaCobros tr:hover {
  background-color: #c2b5b5;
}
.contenidoModal .grid .cobros table tr:has(td input[type=checkbox]:checked:disabled),
.contenidoModal .grid .cobros .tablaCobros tr:has(td input[type=checkbox]:checked:disabled),
.contenidoModal .grid .programacion table tr:has(td input[type=checkbox]:checked:disabled),
.contenidoModal .grid .programacion .tablaCobros tr:has(td input[type=checkbox]:checked:disabled) {
  background-color: rgb(255, 255, 255) !important;
}
.contenidoModal .grid .cobros table tr:has(td input[type=checkbox]:checked),
.contenidoModal .grid .cobros .tablaCobros tr:has(td input[type=checkbox]:checked),
.contenidoModal .grid .programacion table tr:has(td input[type=checkbox]:checked),
.contenidoModal .grid .programacion .tablaCobros tr:has(td input[type=checkbox]:checked) {
  background-color: #ffcccc !important;
}
.contenidoModal .grid .cobros table td,
.contenidoModal .grid .cobros .tablaCobros td,
.contenidoModal .grid .programacion table td,
.contenidoModal .grid .programacion .tablaCobros td {
  border: 1px solid gray;
  padding: 3px;
  text-align: left;
}
.contenidoModal .grid .cobros table td .miniboton,
.contenidoModal .grid .cobros .tablaCobros td .miniboton,
.contenidoModal .grid .programacion table td .miniboton,
.contenidoModal .grid .programacion .tablaCobros td .miniboton {
  font-size: 10px;
  padding: 1px;
  background-attachment: red;
  border-radius: 5px;
  margin: 0px 2px;
}
.contenidoModal .grid .arrastre {
  border-radius: 8px;
  border: 2px solid #a8a8b1;
  padding: 10px 10px;
  margin: 5px 0px;
  font-family: "Inter";
  font-size: 15px;
  resize: none;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 7.5px;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}
.contenidoModal .grid .arrastre.bloqueado {
  background-color: #f9f9f9;
}
.contenidoModal .grid .arrastre .recurso {
  display: flex;
  flex-direction: column;
  height: 110px;
  padding: 2px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(202, 202, 202);
  border-radius: 8px;
  min-width: 150px;
  max-width: 150px;
  position: relative;
}
.contenidoModal .grid .arrastre .recurso:hover > .botones {
  opacity: 1;
  transition: 0.5s ease-in;
}
.contenidoModal .grid .arrastre .recurso .botones {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  gap: 5%;
  opacity: 0;
}
.contenidoModal .grid .arrastre .recurso .botones div {
  padding: 1px;
  border: 1px solid rgb(241, 241, 241);
  background-color: #ffffff;
  border-radius: 7.5px;
}
.contenidoModal .grid .arrastre .recurso:hover {
  background-color: rgb(255, 234, 231);
}
.contenidoModal .grid .arrastre .recurso .logo2 {
  display: flex;
  margin: auto auto;
  padding: 5px;
}
.contenidoModal .grid .arrastre .recurso .logo2 img {
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.contenidoModal .grid .arrastre .recurso .etiqueta {
  color: rgb(3, 3, 3);
  padding: 1px;
  min-height: 35px;
  max-height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
}
.contenidoModal .grid .arrastre .recurso .etiqueta span {
  font-size: 12px;
  margin: auto auto;
}
.contenidoModal .grid-dual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.contenidoModal .grid-triple {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 20px;
}
.contenidoModal .subContenido {
  margin: 15px 0px;
  display: block;
}
.contenidoModal .subContenido span {
  font-weight: 500;
}
.contenidoModal .subContenido .fondoPerfil {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.contenidoModal .subContenido .fondoPerfil span {
  width: 100%;
  text-align: center;
}
.contenidoModal .subContenido .historial {
  background-color: #f3f3f3;
  min-height: 130px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}
.contenidoModal .subContenido .historial .bloque {
  border: 1px solid #F4F4F5;
}
.contenidoModal .subContenido .historial .bloque .titulo {
  font-size: 13px;
  font-weight: 600;
}
.contenidoModal .subContenido .historial .bloque .fecha {
  font-size: 12px;
}
.contenidoModal .subContenido .historial .bloque .hora {
  font-size: 11px;
}
.contenidoModal .subContenido .historial .bloque .fecha,
.contenidoModal .subContenido .historial .bloque .hora,
.contenidoModal .subContenido .historial .bloque .titulo {
  text-align: center;
  padding: 2px 0px;
}
.contenidoModal .subContenido div.grid {
  display: grid;
  grid-template-columns: 1fr;
}
.contenidoModal .subContenido input,
.contenidoModal .subContenido select {
  margin: 5px 0px;
  border-radius: 8px;
  border: 2px solid #a8a8b1;
  padding: 10px 10px;
  font-size: 15px;
  font-family: "Inter";
}
.contenidoModal .subContenido input.active,
.contenidoModal .subContenido select.active {
  border: 2px solid rgb(139, 0, 0);
  background-color: rgb(235, 211, 211);
}
.contenidoModal .subContenido textarea {
  border-radius: 8px;
  border: 2px solid #a8a8b1;
  padding: 10px 10px;
  margin: 5px 0px;
  font-family: "Inter";
  font-size: 15px;
  resize: none;
}
.contenidoModal .subContenido button {
  background-color: transparent;
  border: 0px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin: auto auto;
}
.contenidoModal .subContenido button img {
  width: 100%;
  height: 100%;
}
.contenidoModal .contenidoFinal {
  background-color: rgb(255, 243, 227);
  border-top: 1px solid gray;
  padding: 20px;
  display: flex;
  margin-bottom: 70px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
}
.contenidoModal .contenidoFinal input[type=submit] {
  background-color: transparent;
  padding: 10px;
  border-radius: 15px;
  margin: auto auto;
  font-family: "Inter";
  font-weight: 700;
  border: 3px solid rgba(199, 0, 0, 0.753);
  color: rgba(199, 0, 0, 0.753);
  font-size: 15px;
}
.contenidoModal .contenidoFinal input[type=submit].aprobar {
  border-color: rgb(0, 146, 19);
  color: rgb(0, 146, 19);
}
.contenidoModal .contenidoFinal input[type=submit].aprobar:hover {
  background-color: rgb(0, 146, 19);
}
.contenidoModal .contenidoFinal input[type=submit]:hover {
  color: white;
  background-color: rgba(199, 0, 0, 0.753);
}
.contenidoModal .contenidoFinal1 {
  background-color: rgb(255, 243, 227);
  border-top: 1px solid gray;
  padding: 20px;
  margin-bottom: 70px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenidoModal .contenidoFinal1 .botones {
  margin: auto auto;
  display: block;
}
.contenidoModal .contenidoFinal1 .botones input[type=submit] {
  background-color: transparent;
  margin: 0px 5px;
  padding: 10px;
  border-radius: 15px;
  font-family: "Inter";
  font-weight: 700;
  border: 3px solid rgba(199, 0, 0, 0.753);
  color: rgba(199, 0, 0, 0.753);
  font-size: 15px;
  text-align: center;
}
.contenidoModal .contenidoFinal1 .botones input[type=submit].aprobar {
  border-color: rgb(0, 146, 19);
  color: rgb(0, 146, 19);
}
.contenidoModal .contenidoFinal1 .botones input[type=submit].aprobar:hover {
  background-color: rgb(0, 146, 19);
}
.contenidoModal .contenidoFinal1 .botones input[type=submit]:hover {
  color: white;
  background-color: rgba(199, 0, 0, 0.753);
}
.contenidoModal .panelInformacion .error {
  color: darkred;
}
.contenidoModal .panelInformacion .exito {
  color: green;
}/*# sourceMappingURL=modal.css.map */