body {
  background-color: blanchedalmond;
  width: 95%;
  margin: auto auto;
}

div.panelPrincipal {
  padding: 10px;
  overflow: auto;
  background-color: cornsilk;
  border: 1px solid gray;
  border-radius: 5px;
}
div.panelPrincipal h3 {
  text-align: center;
}
div.panelPrincipal .estadisticas {
  display: flex;
  gap: 50px;
  margin: 50px 20px;
  justify-content: center;
}
div.panelPrincipal .estadisticas button {
  border-radius: 7.5px;
  padding: 10px;
  box-shadow: 2px 3px;
  background-color: rgb(255, 250, 240);
}
div.panelPrincipal .estadisticas button:hover {
  background-color: azure;
  cursor: pointer;
}
div.panelPrincipal .estadisticas .estadistica {
  display: block;
  border: 1px solid gray;
  padding: 10px 5px;
  border-radius: 7.5px;
  margin: 5px 5px;
}
div.panelPrincipal .estadisticas .estadistica #bbdd {
  font-weight: 600;
}
div.panelPrincipal .objetivosMensuales {
  padding: 20px;
  border-bottom: 1px solid black;
  overflow: auto;
}
div.panelPrincipal .objetivosMensuales .gridDual {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 20fr;
}
div.panelPrincipal .objetivosMensuales .gridDual .itemTitulo,
div.panelPrincipal .objetivosMensuales .gridDual .calendarioTitulo {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
div.panelPrincipal .objetivosMensuales .gridDual .itemTitulo button,
div.panelPrincipal .objetivosMensuales .gridDual .calendarioTitulo button {
  margin: 5px;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 250, 240);
}
div.panelPrincipal .objetivosMensuales .gridDual .itemTitulo button:hover,
div.panelPrincipal .objetivosMensuales .gridDual .calendarioTitulo button:hover {
  background-color: azure;
  cursor: pointer;
}
div.panelPrincipal .objetivosMensuales .gridDual .diasMes {
  display: flex;
  gap: 3px;
}
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .dia,
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .diaSem {
  padding: 15px;
  border: 1px solid gray;
  width: 10px;
  height: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .dia.festivo,
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .diaSem.festivo {
  background-color: #eeeeee !important;
}
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .dia.diaHoy,
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .diaSem.diaHoy {
  border: 1px solid red;
  font-weight: 600;
  background-color: rgb(255, 232, 204);
}
div.panelPrincipal .objetivosMensuales .gridDual .item {
  display: flex;
  align-items: center;
  border-radius: 7.5px;
  padding: 5px;
  height: 50px;
  width: 200px;
}
div.panelPrincipal .objetivosMensuales .gridDual .item a {
  color: black;
  text-decoration: none;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario {
  display: flex;
  gap: 3px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkred;
  border-radius: 3px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem.diaHoy {
  background-color: rgb(255, 232, 204);
  border: 1px solid red;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 5px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem a.diario {
  width: 100%;
  height: 75%;
  background-color: rgba(255, 220, 220, 0.829);
  border-radius: 7.5px;
  border: 1px solid rgb(63, 0, 0);
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem a.diario:hover {
  border: 1px solid darkred;
  background-color: rgba(255, 204, 204, 0.829);
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem2 {
  width: 40px;
  height: 40px;
  display: block;
  border: 1px solid darkred;
  border-radius: 3px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem2 .plazos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 5%;
  box-sizing: border-box;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem2 .plazos a.plazo {
  display: flex;
  flex-direction: column;
  width: 10px;
  height: 10px;
  border-radius: 2.5px;
  background-color: rgba(220, 239, 255, 0.829);
  border: 1px solid rgb(63, 0, 0);
  margin: 1px 0px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos {
  display: flex;
  flex-wrap: wrap;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos .usado {
  background-color: rgb(255, 224, 224);
  width: 45px;
  height: 40px;
  margin: 5px 0px;
  border-radius: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos .plazo {
  min-width: 45px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos .plazoVacio {
  width: 43px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos .plazoVacio2 {
  width: 43px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */