body {
    background-color: blanchedalmond;
}

div.panelPrincipal {
    padding: 10px;
    background-color: cornsilk;
    border: 1px solid gray;

    h3 {
        text-align: center;
    }

    .estadisticas {
        display: flex;
        gap: 50px;
        margin: 50px 20px;
        justify-content: center;

        .estadistica {
            display: block;
            border: 1px solid gray;
            padding: 10px 5px;
            border-radius: 7.5px;
            margin: 5px 5px;

            #bbdd {
                font-weight: 600;
            }
        }
    }

    .objetivosMensuales {
        display: flex;
        justify-content: center;
        border: 1px solid gray;
        padding: 50px;

        .gridDual {
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr 20fr;

            .itemTitulo,
            .calendarioTitulo {
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-align: center;
            }



            .diasMes {
                display: flex;
                gap: 3px;

                .dia,
                .diaSem {
                    padding: 15px;
                    border: 1px solid gray;
                    width: 10px;
                    height: 10px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.festivo {
                        background-color: #eeeeee;
                    }
                }


            }

            .item {
                display: flex;
                align-items: center;
            }

            .calendario {
                display: flex;
                gap: 3px;




                .calendarioItem {
                    width: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;
                    border: 1px solid gray;
                    height: 10px;


                    &.especial {
                        background-color: rgba(255, 220, 220, 0.829);
                    }
                }
            }


        }
    }
}