body {
  background-color: blanchedalmond;
  margin: auto auto;
}

div.panelPrincipal {
  padding: 10px;
  overflow: auto;
  background-color: cornsilk;
  border: 1px solid gray;
  border-radius: 5px;
}
div.panelPrincipal h3 {
  text-align: center;
}
div.panelPrincipal .estadisticas {
  display: flex;
  gap: 50px;
  margin: 50px 20px;
  justify-content: center;
}
div.panelPrincipal .estadisticas button {
  border-radius: 7.5px;
  padding: 10px;
  box-shadow: 2px 3px;
  background-color: rgb(255, 250, 240);
}
div.panelPrincipal .estadisticas button:hover {
  background-color: azure;
  cursor: pointer;
}
div.panelPrincipal .estadisticas .estadistica {
  display: block;
  border: 1px solid gray;
  padding: 10px 5px;
  border-radius: 7.5px;
  margin: 5px 5px;
}
div.panelPrincipal .estadisticas .estadistica #bbdd {
  font-weight: 600;
}
div.panelPrincipal .objetivosMensuales {
  padding: 20px;
  border-bottom: 1px solid black;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 5px;
}
div.panelPrincipal .objetivosMensuales .gridDual {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 5fr;
}
div.panelPrincipal .objetivosMensuales .gridDual .itemTitulo,
div.panelPrincipal .objetivosMensuales .gridDual .calendarioTitulo {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
div.panelPrincipal .objetivosMensuales .gridDual .itemTitulo button,
div.panelPrincipal .objetivosMensuales .gridDual .calendarioTitulo button {
  margin: 5px;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 250, 240);
}
div.panelPrincipal .objetivosMensuales .gridDual .itemTitulo button:hover,
div.panelPrincipal .objetivosMensuales .gridDual .calendarioTitulo button:hover {
  background-color: azure;
  cursor: pointer;
}
div.panelPrincipal .objetivosMensuales .gridDual .diasMes {
  display: flex;
  gap: 3px;
  margin-left: 4px;
}
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .dia,
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .diaSem {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid gray;
  width: 10px;
  height: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
}
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .dia.festivo,
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .diaSem.festivo {
  background-color: #eeeeee !important;
}
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .dia.diaHoy,
div.panelPrincipal .objetivosMensuales .gridDual .diasMes .diaSem.diaHoy {
  border: 1px solid red;
  font-weight: 600;
  background-color: rgb(255, 232, 204);
}
div.panelPrincipal .objetivosMensuales .gridDual .item {
  display: flex;
  align-items: center;
  border-radius: 7.5px;
  padding: 5px;
  height: 50px;
  width: 200px;
}
div.panelPrincipal .objetivosMensuales .gridDual .item a {
  color: black;
  text-decoration: none;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario {
  display: flex;
  gap: 3px;
  margin-left: 4px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem {
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkred;
  border-radius: 3px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem.diaHoy {
  background-color: rgb(255, 232, 204);
  border: 1px solid red;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 5px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem a.diario {
  width: 100%;
  height: 75%;
  background-color: rgba(255, 220, 220, 0.829);
  border-radius: 7.5px;
  border: 1px solid rgb(63, 0, 0);
}
div.panelPrincipal .objetivosMensuales .gridDual .calendario .calendarioItem a.diario:hover {
  border: 1px solid darkred;
  background-color: rgba(255, 204, 204, 0.829);
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: #ffffff;
  opacity: 1;
  background-size: 45px;
  background-image: repeating-linear-gradient(to right, rgba(247, 69, 69, 0.5882352941), rgba(247, 69, 69, 0.5882352941) 0px, rgba(255, 255, 255, 0.2470588235) 1px, rgba(255, 255, 255, 0.2470588235));
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos.d30 {
  width: 1350px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos.d31 {
  width: 1395px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos.d29 {
  width: 1305px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos.d28 {
  width: 1260px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos .usado {
  box-sizing: border-box;
  background-color: rgb(255, 161, 161);
  width: 45px;
  height: 35px;
  margin: 5px 0px;
  border-radius: 7.5px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos .usado:hover {
  border: 2px dashed darkred;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos .plazo {
  min-width: 45px;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos .plazoVacio {
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.panelPrincipal .objetivosMensuales .gridDual .calendarioPlazos .plazoVacio2 {
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-contextual {
  display: none; /* Inicialmente oculto */
  position: absolute; /* Para posicionarlo donde se hizo clic */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 5px 0;
  font-family: Arial, sans-serif;
  border-radius: 7.5px;
  box-shadow: #ccc;
}

.menu-opcion {
  padding: 5px 15px;
  cursor: pointer;
}

.menu-opcion:hover {
  background-color: #ffeaca;
  color: darkred;
}/*# sourceMappingURL=style.css.map */